<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>

	<targets>
		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<target xsi:type="Seq" name="seq" serverUrl="${configsetting:name=Logging.SeqServerUrl}" apiKey="">
				<property name="Application" value="${configsetting:name=AppName}" />
				<property name="Machine" value="${machinename}" />
				<property name="Source" value="${logger}" />
				<property name="RequestUrl" value="${aspnet-request-url}" />
				<property name="RequestMethod" value="${aspnet-request-method}" />
				<property name="ExceptionType" value="${exception:format=Type}" />
				<property name="ExceptionMessage" value="${exception:format=Message}" />
				<property name="Context" value="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}" />
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="seq" />
	</rules>

</nlog>